
<p>
	<strong>{{ today | date('ddd D MMM YYYY') }} – Today</strong><br>
</p>

<p style="clear: both">
	{% for service in services %}

    <strong>
      {{ service.attributes.sort_date | date('ddd D MMM YYYY') }}
      – {{service.relationships.service_type.attributes.name}}
    </strong>

    <br>

    {% for team_member in service.relationships.team_members %}
      {% if team_member.attributes.status == 'U' %}
        <span style="background: yellow">
      {% elif team_member.attributes.status == 'D' %}
        <span style="text-decoration: line-through; opacity: 0.5;">
      {% else %}
        <span>
      {% endif %}

        - {{team_member.attributes.name}}

        ({{team_member.attributes.team_position_name}})
      </span>

      <br>
    {% endfor %}

    {% for needed_position in service.relationships.needed_positions %}
      <span style="background: #ff9393">
        -

        {% if needed_position.attributes.quantity > 1 %}
          {{needed_position.attributes.quantity}} missing
        {% else %}
          Missing
        {% endif %}


        ({{needed_position.attributes.team_position_name}})
      </span>

      <br>
    {% endfor %}
    <br>
	{% endfor %}
</p>

