
<p>
	<strong>{{ today | date('ddd D MMM YYYY') }} – Today</strong><br>
</p>

<p style="clear: both">
	{% for service in services %}

    <strong>
      {{ service.attributes.sort_date | date('ddd D MMM YYYY') }}
      – {{service.relationships.service_type.attributes.name}}
    </strong>

    <br>

    {% for member in service.rosters %}
      - {{member.position_name}}:

      {% if member.status == 'U' %}
        <span style="background: yellow">{{member.name}}</span>
      {% elif member.status == 'D' %}
        <span style="text-decoration: line-through; opacity: 0.5;">{{member.name}}</span>
      {# {% elif member.status == 'M' %}
        <span style="color: red">
        - {{member.position_name}}:
          {% if needed_position.attributes.quantity > 1 %}
            {{needed_position.attributes.quantity}} missing</span>
          {% else %}
            Missing</span>
          {% endif %} #}
      {% else %}
        <span>{{member.name}}</span>
      {% endif %}

      <br>
    {% endfor %}

    <br>
	{% endfor %}
</p>

