<h1>Links</h1>
		<a href="sunday?serviceType=322952&serviceType=364164&serviceType=464214&categoryName=TV/Media,Worship%20Vocals&excludePosition=Fl.%20Singer,Photo,Photo%20Editing,Acoustic,Co.%20Lead,WL,Co-WL,Vocal%20Director">TV/Media Sunday</a><br>
		<a href="sunday?serviceType=464692&serviceType=364192&serviceType=311534&categoryName=TV/Media">TV/Media Kids</a>

		<h1>Service types</h1>

{{#each items}}
		<div style="padding-left: {{{indent_pixels level}}}">
			<h2>[{{type}}] <a href="{{id}}">{{name}}</a></h2>
			<p>#{{id}}</p>
		</div>
{{/each}}
