<h1>{{data.plan_title}}</h1>

<table>
{{#each data.plan_people}}
	<tr>
		<td>{{this.status}}</td>
		<td>{{this.category_name}}</td>
		<td>{{this.position}}</td>
		<td>{{this.person_name}}</td>
		<td>
		{{#each this.person.contact_data.email_addresses}}
			{{this.address}}
		{{/each}}
		</td>
	</tr>
{{/each}}
</table>

<hr>

{{#each data.positions}}
		<div>
			<h2>{{category_name}}: {{position}} ({{quantity}})</h2>
		</div>
{{/each}}

		<hr>

{{#each data.category_positions}}
		<div>
			<h2>{{name}} <sub>#{{id}}</sub></h2>
			<ul>
				{{#each this.positions}}
					<li>{{.}}</li>
				{{/each}}
			</ul>
		</div>
{{/each}}
