<style>
	.status-U {
		background: yellow;
	}
	.service-card {
		float: left;
		opacity: 0.5;
		background: #eee;
		margin: 0 10px 10px 0;
	}
	.service-card td {
		padding: 5px;
	}
	form > div {
		margin: 10px 0;
	}
	label {
		display: block;
	}
	input[type="text"] {
		width: 500px;
	}
</style>

<h1>Sunday {{{format_date sundayDate 'D MMM YYYY'}}}</h1>

<div style="clear: both">
	{{#each services}}
	<h2>{{service_type_name}}: {{plan_title}}</h2>

	{{#each filteredPeople}}
	<div class="status-{{this.status}}">
		- {{this.person_name}}

		{{#if display_service_time}}
			({{position_display_times}} {{this.position}})
		{{else}}
			({{this.position}})
		{{/if}}

	</div>
	{{/each}}

	{{/each}}
</div>

<hr>

{{#each filteredEmails}}
	<div>{{this}}</div>
{{/each}}



<hr style="margin-top: 50px;">
{{#each services}}
<div class="service-card">
	<h2>{{plan_title}}</h2>

	<table>
		{{#each filteredPeople}}
		<tr>
			<td>{{this.status}}</td>
			<td>{{this.category_name}}</td>
			<td>{{this.position}}</td>
			<td>{{this.person_name}}</td>
			<td>
				{{#each this.person.contact_data.email_addresses}}
				{{this.address}}
				{{/each}}
			</td>
		</tr>
		{{/each}}
	</table>

</div>
{{/each}}

<div style="clear: both;"></div>

<form action="/sunday" method="get" style="margin: 40px 0;">
	<div>
		<label for="filter-service-type">Service Type</label><input type="text" id="filter-service-type" name="serviceType" value="{{query.serviceType}}">
	</div>

	<div>
		<label for="filter-category-name">Category name</label><input type="text" id="filter-category-name" name="categoryName" value="{{query.categoryName}}">
	</div>

	<div>
		<label for="filter-exclude-position">Exclude position</label><input type="text" id="filter-exclude-position" name="excludePosition" value="{{query.excludePosition}}">
	</div>

	<div>
		<label for="filter-date">Date</label><input type="text" id="filter-date" name="date" value="{{{format_date sundayDate 'YYYY-MM-DD'}}}">
	</div>

	<button type="submit">Change</button>
</form>